* {
  margin: 0;
  font-family: "open sans", sans-serif;
}

.btn-primary {
  color: #ffffff;
  background-color: #fd6e0a;
  border-radius: 5px;
  height: 64px;
  border: 0;
  padding: 18px 35px;
}
.header {
  background: #fff8f3;
  background-image: url("./images/header_bg.png"), url("./images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, left;
}

.section {
  margin-top: 130px;
}

/* headerr and navgation size */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 200px;
}

.nav-title {
  font-size: 800;
  font-weight: 45p;
}

nav li {
  list-style: none;
  margin-left: 50px;
}
nav ul {
  display: flex;
  align-items: center;
}

.text-primary {
  color: #fd6e0a;
}

/* banner styles  */

.banner {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 200px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  margin-bottom: 20px;
}
.banner-sub-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
}

.banner-description {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

/* main section */
.main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section styles */

.about {
  margin-top: 130px;
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}

.section-description {
  text-align: left;

  color: #757575;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  margin-right: 50px;
}
.about-info .info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

/* what i do section */
.what-i-do {
  margin-top: 130px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skills-container {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}
.skill-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

.skill-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  /* Dark 03 */

  color: #757575;
}
.skill-imag {
}

/* resume styles */

.resume-content {
  display: flex;
  gap: 40px;
}
.resume .title {
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 10px;

  color: #474747;
}

.resume .sub-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 20px;

  /* Dark 03 */

  color: #757575;
}
.resume .description {
  color: #757575;
}

.resume {
  margin-top: 130px;
}

.resume-item {
  margin: 30px 0;
}
.resume-button {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

/* contact styles */

.contact .section-title {
  text-align: left;
}
.contact {
  align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  background: #fff8f3;
  padding: 130px 200px;
}

.contact input[type="text"],
textarea,
input[type="email"] {
  margin-bottom: 24px;
  width: 100%;
  border: 0;
  padding: 18px 30px;
}
